<div class="col-xs-10 col-xs-offset-1 about">
<h1>About Splurty</h1>

<p>
	Splurty was built by <a target="_blank" href="http://github.com/AidanZeb"> Aidan Zebertavage</a>. A new web developer using the FireHose Project to learn and develop my coding skills, and working to turn my ideas into reality. 
</p>
<br />
<p>
	I have worked at Fortune 500 Companies such as General Electric and P&ampG, and now looking to bring my own creativity and ideas into the real world. 
</p>
<br />
<p>
	If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here<a/>.
</p>

<div class="col-xs-12 col-sm-4">
	<%= image_tag 'AidanSplurty.jpg', class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Aidan Zebertavage</h2>
	<br />
	<p>
		Aidan Zebertavage is a chemical engineer in Cincinnati, OH. Aidan is using the FireHose Project to expand his technical skills in web development and programming. 
	</p> 
</div>

</div>

<br class="clear"/>
<br />
<br />
<br />
<br />